Uno/UnoClientSW/xml-resources/web-service-references/UnoWS/wsdl/localhost_8080/UnoWS/UnoWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://unoWS.me.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://unoWS.me.org/" name="UnoWS">
<types>
<xsd:schema>
<xsd:import namespace="http://unoWS.me.org/" schemaLocation="http://localhost:8080/UnoWS/UnoWS?xsd=1"/>
</xsd:schema>
</types>
<message name="mostraMao">
<part name="parameters" element="tns:mostraMao"/>
</message>
<message name="mostraMaoResponse">
<part name="parameters" element="tns:mostraMaoResponse"/>
</message>
<message name="ehMinhaVez">
<part name="parameters" element="tns:ehMinhaVez"/>
</message>
<message name="ehMinhaVezResponse">
<part name="parameters" element="tns:ehMinhaVezResponse"/>
</message>
<message name="obtemPontos">
<part name="parameters" element="tns:obtemPontos"/>
</message>
<message name="obtemPontosResponse">
<part name="parameters" element="tns:obtemPontosResponse"/>
</message>
<message name="obtemNumCartas">
<part name="parameters" element="tns:obtemNumCartas"/>
</message>
<message name="obtemNumCartasResponse">
<part name="parameters" element="tns:obtemNumCartasResponse"/>
</message>
<message name="temPartida">
<part name="parameters" element="tns:temPartida"/>
</message>
<message name="temPartidaResponse">
<part name="parameters" element="tns:temPartidaResponse"/>
</message>
<message name="obtemOponente">
<part name="parameters" element="tns:obtemOponente"/>
</message>
<message name="obtemOponenteResponse">
<part name="parameters" element="tns:obtemOponenteResponse"/>
</message>
<message name="preRegistro">
<part name="parameters" element="tns:preRegistro"/>
</message>
<message name="preRegistroResponse">
<part name="parameters" element="tns:preRegistroResponse"/>
</message>
<message name="registraJogador">
<part name="parameters" element="tns:registraJogador"/>
</message>
<message name="registraJogadorResponse">
<part name="parameters" element="tns:registraJogadorResponse"/>
</message>
<message name="obtemCorAtiva">
<part name="parameters" element="tns:obtemCorAtiva"/>
</message>
<message name="obtemCorAtivaResponse">
<part name="parameters" element="tns:obtemCorAtivaResponse"/>
</message>
<message name="compraCarta">
<part name="parameters" element="tns:compraCarta"/>
</message>
<message name="compraCartaResponse">
<part name="parameters" element="tns:compraCartaResponse"/>
</message>
<message name="jogaCarta">
<part name="parameters" element="tns:jogaCarta"/>
</message>
<message name="jogaCartaResponse">
<part name="parameters" element="tns:jogaCartaResponse"/>
</message>
<message name="encerraPartida">
<part name="parameters" element="tns:encerraPartida"/>
</message>
<message name="encerraPartidaResponse">
<part name="parameters" element="tns:encerraPartidaResponse"/>
</message>
<message name="obtemCartaMesa">
<part name="parameters" element="tns:obtemCartaMesa"/>
</message>
<message name="obtemCartaMesaResponse">
<part name="parameters" element="tns:obtemCartaMesaResponse"/>
</message>
<message name="obtemNumCartasOponente">
<part name="parameters" element="tns:obtemNumCartasOponente"/>
</message>
<message name="obtemNumCartasOponenteResponse">
<part name="parameters" element="tns:obtemNumCartasOponenteResponse"/>
</message>
<message name="obtemPontosOponente">
<part name="parameters" element="tns:obtemPontosOponente"/>
</message>
<message name="obtemPontosOponenteResponse">
<part name="parameters" element="tns:obtemPontosOponenteResponse"/>
</message>
<message name="obtemNumCartasBaralho">
<part name="parameters" element="tns:obtemNumCartasBaralho"/>
</message>
<message name="obtemNumCartasBaralhoResponse">
<part name="parameters" element="tns:obtemNumCartasBaralhoResponse"/>
</message>
<portType name="UnoWS">
<operation name="mostraMao">
<input wsam:Action="http://unoWS.me.org/UnoWS/mostraMaoRequest" message="tns:mostraMao"/>
<output wsam:Action="http://unoWS.me.org/UnoWS/mostraMaoResponse" message="tns:mostraMaoResponse"/>
</operation>
<operation name="ehMinhaVez">
<input wsam:Action="http://unoWS.me.org/UnoWS/ehMinhaVezRequest" message="tns:ehMinhaVez"/>
<output wsam:Action="http://unoWS.me.org/UnoWS/ehMinhaVezResponse" message="tns:ehMinhaVezResponse"/>
</operation>
<operation name="obtemPontos">
<input wsam:Action="http://unoWS.me.org/UnoWS/obtemPontosRequest" message="tns:obtemPontos"/>
<output wsam:Action="http://unoWS.me.org/UnoWS/obtemPontosResponse" message="tns:obtemPontosResponse"/>
</operation>
<operation name="obtemNumCartas">
<input wsam:Action="http://unoWS.me.org/UnoWS/obtemNumCartasRequest" message="tns:obtemNumCartas"/>
<output wsam:Action="http://unoWS.me.org/UnoWS/obtemNumCartasResponse" message="tns:obtemNumCartasResponse"/>
</operation>
<operation name="temPartida">
<input wsam:Action="http://unoWS.me.org/UnoWS/temPartidaRequest" message="tns:temPartida"/>
<output wsam:Action="http://unoWS.me.org/UnoWS/temPartidaResponse" message="tns:temPartidaResponse"/>
</operation>
<operation name="obtemOponente">
<input wsam:Action="http://unoWS.me.org/UnoWS/obtemOponenteRequest" message="tns:obtemOponente"/>
<output wsam:Action="http://unoWS.me.org/UnoWS/obtemOponenteResponse" message="tns:obtemOponenteResponse"/>
</operation>
<operation name="preRegistro">
<input wsam:Action="http://unoWS.me.org/UnoWS/preRegistroRequest" message="tns:preRegistro"/>
<output wsam:Action="http://unoWS.me.org/UnoWS/preRegistroResponse" message="tns:preRegistroResponse"/>
</operation>
<operation name="registraJogador">
<input wsam:Action="http://unoWS.me.org/UnoWS/registraJogadorRequest" message="tns:registraJogador"/>
<output wsam:Action="http://unoWS.me.org/UnoWS/registraJogadorResponse" message="tns:registraJogadorResponse"/>
</operation>
<operation name="obtemCorAtiva">
<input wsam:Action="http://unoWS.me.org/UnoWS/obtemCorAtivaRequest" message="tns:obtemCorAtiva"/>
<output wsam:Action="http://unoWS.me.org/UnoWS/obtemCorAtivaResponse" message="tns:obtemCorAtivaResponse"/>
</operation>
<operation name="compraCarta">
<input wsam:Action="http://unoWS.me.org/UnoWS/compraCartaRequest" message="tns:compraCarta"/>
<output wsam:Action="http://unoWS.me.org/UnoWS/compraCartaResponse" message="tns:compraCartaResponse"/>
</operation>
<operation name="jogaCarta">
<input wsam:Action="http://unoWS.me.org/UnoWS/jogaCartaRequest" message="tns:jogaCarta"/>
<output wsam:Action="http://unoWS.me.org/UnoWS/jogaCartaResponse" message="tns:jogaCartaResponse"/>
</operation>
<operation name="encerraPartida">
<input wsam:Action="http://unoWS.me.org/UnoWS/encerraPartidaRequest" message="tns:encerraPartida"/>
<output wsam:Action="http://unoWS.me.org/UnoWS/encerraPartidaResponse" message="tns:encerraPartidaResponse"/>
</operation>
<operation name="obtemCartaMesa">
<input wsam:Action="http://unoWS.me.org/UnoWS/obtemCartaMesaRequest" message="tns:obtemCartaMesa"/>
<output wsam:Action="http://unoWS.me.org/UnoWS/obtemCartaMesaResponse" message="tns:obtemCartaMesaResponse"/>
</operation>
<operation name="obtemNumCartasOponente">
<input wsam:Action="http://unoWS.me.org/UnoWS/obtemNumCartasOponenteRequest" message="tns:obtemNumCartasOponente"/>
<output wsam:Action="http://unoWS.me.org/UnoWS/obtemNumCartasOponenteResponse" message="tns:obtemNumCartasOponenteResponse"/>
</operation>
<operation name="obtemPontosOponente">
<input wsam:Action="http://unoWS.me.org/UnoWS/obtemPontosOponenteRequest" message="tns:obtemPontosOponente"/>
<output wsam:Action="http://unoWS.me.org/UnoWS/obtemPontosOponenteResponse" message="tns:obtemPontosOponenteResponse"/>
</operation>
<operation name="obtemNumCartasBaralho">
<input wsam:Action="http://unoWS.me.org/UnoWS/obtemNumCartasBaralhoRequest" message="tns:obtemNumCartasBaralho"/>
<output wsam:Action="http://unoWS.me.org/UnoWS/obtemNumCartasBaralhoResponse" message="tns:obtemNumCartasBaralhoResponse"/>
</operation>
</portType>
<binding name="UnoWSPortBinding" type="tns:UnoWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="mostraMao">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ehMinhaVez">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtemPontos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtemNumCartas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="temPartida">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtemOponente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="preRegistro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registraJogador">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtemCorAtiva">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="compraCarta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="jogaCarta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="encerraPartida">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtemCartaMesa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtemNumCartasOponente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtemPontosOponente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtemNumCartasBaralho">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="UnoWS">
<port name="UnoWSPort" binding="tns:UnoWSPortBinding">
<soap:address location="http://localhost:8080/UnoWS/UnoWS"/>
</port>
</service>
</definitions>